    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <mat-toolbar class="menu" fxLayout.xs="row" fxLayout="row"  fxLayoutGap="1em">
      <img class="logo" src="assets/logo.png" routerLink="/home">
      <a class="link" routerLink="/about">About us</a>
      <a class="link"  routerLink="/contact">Contact</a>
    </mat-toolbar>

    <h1 class="heading">Our Company</h1>
    <p class="paragraph1">Skylabase is an innovative techology company aimed at producing the best ICT solutions in Africa and the world at large. we are here to help other companies and individuals grow their business to the biggest stage through smart solutions that we provide. This has been happening for the past four years and will be here.</p>
    <p class="paragraph2"> We are innovators, engineers,designers,strategists and also awkward dancers.</p>


<div class='circle-container'>
  <div  class='center'><img src='assets/grace.jpg'><span class="data">AYUK ETTA<br/>&nbsp;&nbsp;&nbsp;&nbsp;CEO/FOUNDER</span> </div>
  <div class='deg0'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span> </div>
  <div  class='deg32'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>
  <div  class='deg64'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>
  <div  class='deg96'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>
  <div class='deg128'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>
  <div  class='deg160'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>
  <div  class='deg192'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span> </div>
  <div  class='deg224'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>
  <div  class='deg256'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>
  <div class='deg288'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>
  <div class='deg320'><img src='assets/grace.jpg'><span class="text">AYUK ETTA<br/>CEO/FOUNDER</span></div>

</div>

<div class="footer" fxLayout="row" >
    <img class="image" src="assets/footer.png">
    <div class="next">copyright 2019</div>
    <div class="centered">info@skylabase.com</div>
    <div class="middle">+237 676 101 785</div>
  </div>
