
.logo{
    width:50px;
    margin-left:40%;
  }
  

  .menu{
    position:fixed;
    top:0px;
    z-index: 1;
  }

  a {
    color:  #F79725;
  }
  .heading{
    padding-top: 5%;
      margin-left:35%;
      font-size: 50px;
  }
  .paragraph1{
      margin-left:20%;
      margin-right: 20%;
      font-size: 18px;

  }
  .paragraph2{
    margin-left:26%;
    font-size: 18px;

}
.footer{
  position: fixed;
    left: 0; 
    right: 0; 
    bottom: 0;
    min-width: 200px;
    font-size:1vw;

  }
  .next{
    position: absolute;
    top: 50%;
    left: 10%;
    color: #F79725;
    
    
  }
  
  
  .centered {
    position: absolute;
    top: 50%;
    left: 30%;
     color: #F79725;
    
  }
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #F79725;
    
  }
  .image{
   width:100%;
   margin: auto 0;
   left: 0; 
    right: 0; 
    bottom: 0; 
    min-width: 200px;


  }
 .text{
  margin-left:10%;
  margin-right:10%;
      }
  .data{
    margin-left:40px;
   }
 
.break{
  margin-left: 35px;

}
.circle-container {
    position: relative;
    width: 40em;
    height: 40em;
    padding: 5em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border-radius: 50%;
    margin: 1em auto 0;
    margin-bottom: 120px;
}
.circle-container div {
    display: block;
    position: absolute;
    top: 50%; left: 45%;
    margin: -3em;
    
}
.center{
  width: 10em; height: 10em;
  margin-right:100px;}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
 .logo {
  margin-left:20%;


  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
 .footer {
  font-size:1.8vw;
  z-index: 1;

  }
}


.circle-container img { display: block; width: 100%; height:100%;    border-radius: 50%;
}
.deg0 { transform: translate(20em);   width: 7em; height: 7em;
} /* 15em = half the width of the wrapper */
.deg32 {transform: rotate(32deg) translate(20em) rotate(-32deg);     width: 7em; height: 7em;
}
.deg64 { transform: rotate(64deg) translate(20em) rotate(-64deg);     width: 7em; height: 7em;
}
.deg96 { transform: rotate(96deg) translate(20em) rotate(-96deg);     width: 7em; height: 7em;
}
/*.deg180 { transform: translate(-12em); }*/
.deg128 { transform: rotate(128deg) translate(20em) rotate(-128deg);     width: 7em; height: 7em;
}
.deg160 { transform: rotate(160deg) translate(20em) rotate(-160deg);     width: 7em; height: 7em;
}
.deg192 { transform: rotate(192deg) translate(20em) rotate(-192deg);     width: 7em; height: 7em;
}
.deg224 { transform: rotate(224deg) translate(20em) rotate(-224deg);     width: 7em; height: 7em;
}
.deg256 { transform: rotate(256deg) translate(20em) rotate(-256deg);     width: 7em; height: 7em;
}
.deg288 { transform: rotate(288deg) translate(20em) rotate(-288deg);     width: 7em; height: 7em;
}
.deg320 { transform: rotate(320deg) translate(20em) rotate(-320deg);     width: 7em; height: 7em;
}

