    <mat-toolbar>
      <img class="logo" src="assets/logo.png" routerLink="/home">
      <a class="link" routerLink="/about">About us</a>
      <a class="link"  routerLink="/contact">Contact</a>
    </mat-toolbar>
    
   <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="100px">
   <div class="description">
     <h1>Corporative office</h1>
     <h3> <img class="icon" src="assets/logo.png" routerLink="/home">Address</h3>&nbsp;&nbsp; Chariot entrance Mile 18, Buea 
     <h3> <img class="icon" src="assets/phone.png" routerLink="/home">Phone</h3>&nbsp;&nbsp; [+237] 243 262 689 | 676 101 785
     <h3> <img class="icon" src="assets/phone.png" routerLink="/home">Email</h3>&nbsp;&nbsp; info@skylabase.com 
   </div>
  
     <div class="form">
    <div class="relative"> 
      <div class="absolute">
        <span class="help">Send us a message</span>
        <div class="container">
          <form action="/action_page.php">
            <input type="text" id="fname" name="firstname" placeholder="Your name *">
        
            <input type="text" id="lname" name="lastname" placeholder="Your email address *">
        
            <input type="text" id="lname" name="lastname" placeholder="Subject">
        
            <textarea id="subject" name="subject" placeholder="Your message" style="height:200px"></textarea>
        
            <input type="submit" value="Send">
          </form>
        </div>
      </div>
    </div>
      </div>

    <div class="footer" fxLayout.xs="column" fxLayout="row">
        <img class="image" src="assets/footer.png">
        <div class="next">copyright 2019</div>
        <div class="centered">info@skylabase.com</div>
        <div class="middle">+237 676 101 785</div>
      </div>
    </div>

