  
  .logo{
    width:50px;
   margin-left:40%;

  }
  .icon{
    width:20px;
  }
  mat-toolbar{
   position: fixed;
z-index: 1;
 }

  div.relative {
    position: relative;
    width: 350px;
    height: 605px;
    border: 5px solid #F79725;
    border-radius: 10px;
    right:22%;
    left:20%;
    top:10%;
  } 
  
  div.absolute {
    position: absolute;
    top: 20px;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    left:-7%;
    border:1px solid black;
    background: black;
    padding-top: 20px;

    
  }

  /*.help{
    color: #F79725;
    padding-left:20px;

  }*/
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:   #F79725;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:  #71CDE5;
  }
  
  .container {
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;

  }

  .next{
    position: absolute;
    top: 50%;
    left: 10%;
    color: #F79725;
    display: flex;
    display: inline;
    
  }
  
  
  .centered {
    position: absolute;
    top: 50%;
    left: 30%;
     color: #F79725;
    
  }
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #F79725;
    
  }

  .footer{
    position: fixed;
    font-size:1vw;
    left: 0; 
    right: 0; 
    bottom: 0;
    min-width: 200px;
  }


  .image{
    width: 100%;
   display:block;    
margin: auto 0; 
  }
  a {
    color:  #F79725;
  }

  .link{
    padding-left: 30px;
  }
 
  .description{
    margin: 10%;

    padding-left: 10%;
    font-size: 20px;

  }
  .form{
    margin-bottom: 5%;
   margin-top:5%;

  }
  h3{
    margin-bottom: 0;
  }

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
   .logo {
    margin-left:20%;

  
    }
  }

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
   .footer {
    font-size:1.8vw;
    z-index: 1;
  
    }
  }
  
  
  