<mat-toolbar>
  <img class="logo" src="assets/logo.png" routerLink="/home">
  <a class="link" routerLink="/about">About us</a>
  <a class="link"  routerLink="/contact">Contact</a>
</mat-toolbar>
<div class="content" id="service1">
  <img class="image" src="assets/service4.png" > 
<div class="service1">
  <h1 id="service1">SOFTWARE<br/> DEVELOPMENT</h1>
  <P>We build products that deliver results; Giving users the experience they yern for</P>
</div>
   </div>


   <div class="content" id="service2">
    <img class="image" src="assets/service3.png"  > 
    <div class="service2">
      <h1>IT STATEGIC<br/> CONSULTING</h1>
      <P>We build products that deliver results; Giving users the experience they yern for</P>
    </div>
     </div>

     <div class="content" id="service3">
      <img class="image" src="assets/service1.png"  > 
      <div class="service3">
        <h1>SOFTWARE<br/> DEPLOYMENT</h1>
        <P>We build products that deliver results; Giving users the experience they yern for</P>
      </div>
       </div>
       <div class="content" id="service4">
        <img class="image" src="assets/service2.png"  > 
        <div class="service4">
          <h1>EXPERIENCE<br/> DESIGN</h1>
          <P>We build products that deliver results; Giving users the experience they yern for</P>
        </div>
         </div>
         <div class="footer" fxLayout="row">
          <img class="footer-image" src="assets/footer.png">
          <div class="next">copyright 2019</div>
          <div class="centered">info@skylabase.com</div>
          <div class="middle">+237 676 101 785</div>
        </div>
