.image{
    width: 100%;
    margin: auto;
   position: relative;
  
  }
  .content{
      padding-right: 20%;
      padding-left: 20%;
  }

  .link{
    padding-left: 30px;
  }
  a {
    color:  #F79725;
  }
  .logo{
    width:50px;
   margin-left:40%;

  }
  h1{
      font-size: 3vw;
      color: #F79725;
  }

  p{
      font-size:1.3vw;
  }

  .footer{
    position: fixed;
      left: 0; 
      right: 0; 
      bottom: 0;
      min-width: 200px;
      font-size:1vw;
  
    }
    .footer-image{
        width: 100%;
       display:block;    
    margin: auto 0; 
      }
    .next{
        position: absolute;
        top: 50%;
        left: 10%;
        color: #F79725;  
      }
      .service1{
        position: absolute;
        left:50%;
        top: 20%;
        right: 20%;     
     }

        .service2{
            position: absolute;
            left:50%;
            top: 120%; 
            right: 20%;     
    
         }
         .service3{
            position: absolute;
            left:50%;
            top: 210%; 
            right: 20%;     
   
          }
          .service4{
            position: absolute;
            left:50%;
            top: 315%; 
            right: 20%;       
           }
      
      
      .centered {
        position: absolute;
        top: 50%;
        left: 30%;
         color: #F79725;
        
      }
      .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #F79725;
        
      }


  @media only screen and (max-width:1024px) {
    /* For mobile phones: */
   .footer {
    font-size:1.8vw;
    z-index: 1;
  
    }

    .logo {
        margin-left:20%;
    
      
        }
        .service1{
            left:50%;
            top: 15%;     
         }
    
            .service2{
                left:50%;
                top: 40%;     
             }
             .service3{
                left:50%;
                top: 70%;    
              }
              .service4{
                left:50%;
                top: 100%;   
               }
  }
 
