
  <img class="image" src="assets/new.png"> 

<div class="content" fxLayout.xs="column"  fxLayoutGap="10px" >
  
      <img class="logo" src="assets/logo.png" routerLink="/home">
      <a class="link" routerLink="/about">About us</a>
      <a class="link"  routerLink="/contact">Contact</a>

</div>

<div class="service"  fxLayout.xs="column" fxLayout="row"  fxLayoutGap="5px" >
  <div class=" animate animated slideInLeft">
    <mat-card class="service1"><a href="/services#service1" >SOFTWARE DEVELOPMENT</a></mat-card>
    <mat-card class="service2"><a href="/services#service2" >IT STRATEGIC CONSULTING</a></mat-card>
    </div>
    <div class="animate animated slideInRight">
    <mat-card class="service3"><a href="/services#service3" >SOFTWARE DEPLOYMENT</a></mat-card>
    <mat-card class="service4"><a href="/services#service4" >EXPERIENCE DESIGN</a></mat-card>
    </div>
</div>
<div class="footer"  fxLayout.xs="row"  fxLayoutGap="16px" fxLayout="row" >
  <div class="centered">info@skylabase.com</div>
  <div class="middle">+237 676 101 785</div>
  <div><img class="next" src="assets/fb.png"></div>

</div>

