
 .image{
  width: 100%;
  height: 100vh;
  margin: auto;
 position: relative;
 min-height: 100%;

}



.content{
  position: absolute;
  top:18%;
  left:40%;
}

.logo{
 width:50px;
}

/*.link{
  margin-left:30px;
}*/

.service{
  position: absolute;
  top:38%;
  left:38.3%;
  width: 140px;
  margin: auto 0;
}
.animate{
  animation-duration: 2s;

}

.service1,.service2{
  display:flex;
  display: inline-block;
  background: black;
  width: 130px;
  color:#F79725;
  margin: 10px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(10, 10, 10, 0.19);

}
.service3,.service4{
  display:flex;
  display: inline-block;
  background: black;
  width: 130px;
  color:#F79725;
  margin: 10px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(10, 10, 10, 0.19);

}
.next{
  width: 30px;
  height: 30px;
}

.footer{
  vertical-align: center;
  position: absolute;
  color: white;
  left:38%;
  top:70%;
}

a {
  color: white;
}

mat-card a{
  color: #F79725;
  text-decoration: none;

}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
 .footer {
    width:100%;
    font-size:1.8vw;
    top:90%;


  }
  @media only screen and (max-width:400px) {
    /* For mobile phones: */
   .image {
     width:100%;
      
   }
  
  
    }
}
  @media only screen and (max-width:400px) {
    /* For mobile phones: */
   .service1,.service2,.service3,.service4{
      width:50px;
      font-size:2.2vw;
  
  
    }
}